.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(27, 0, 21, 0.534);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.links a {
    margin-bottom: 5px;
    color: white;
}

.links a:hover {
    color: #9921b1cb;
}

.logo {
    margin-bottom: 10px;
}